<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>180</session-timeout> <!-- in minutes -->
    </session-config>   
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LoginController</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>controllers.LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.ViewAllMembers</servlet-name>
        <servlet-class>controllers.main.ViewAllMembers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.ViewAllMembers</servlet-name>
        <url-pattern>/main/ViewAllMembers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.ViewEconomics</servlet-name>
        <servlet-class>controllers.main.ViewEconomics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.ViewEconomics</servlet-name>
        <url-pattern>/main/ViewEconomics</url-pattern>
        <url-pattern>/ViewEconomics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.InsertMember</servlet-name>
        <servlet-class>controllers.main.InsertMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.InsertMember</servlet-name>
        <url-pattern>/main/InsertMember</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.SearchMember</servlet-name>
        <servlet-class>controllers.main.SearchMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.SearchMember</servlet-name>
        <url-pattern>/main/SearchMember</url-pattern>
        <url-pattern>/SearchMember</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.IncreaseMoney</servlet-name>
        <servlet-class>controllers.main.IncreaseMoney</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.IncreaseMoney</servlet-name>
        <url-pattern>/main/IncreaseMoney</url-pattern>
        <url-pattern>/IncreaseMoney</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.DeleteMember</servlet-name>
        <servlet-class>controllers.main.DeleteMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.DeleteMember</servlet-name>
        <url-pattern>/main/DeleteMember</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.InsertEconomics</servlet-name>
        <servlet-class>controllers.main.InsertEconomics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.InsertEconomics</servlet-name>
        <url-pattern>/main/InsertEconomics</url-pattern>
        <url-pattern>/InsertEconomics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.VoucherDownload</servlet-name>
        <servlet-class>controllers.main.VoucherDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.VoucherDownload</servlet-name>
        <url-pattern>/main/VoucherDownload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.ViewPendingSubscriptions</servlet-name>
        <servlet-class>controllers.main.ViewPendingSubscriptions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.ViewPendingSubscriptions</servlet-name>
        <url-pattern>/main/ViewPendingSubscriptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.ViewRepeatedSubscriptions</servlet-name>
        <servlet-class>controllers.main.ViewRepeatedSubscriptions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.ViewRepeatedSubscriptions</servlet-name>
        <url-pattern>/main/ViewRepeatedSubscriptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.MemberLiveSearch</servlet-name>
        <servlet-class>controllers.main.MemberLiveSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.MemberLiveSearch</servlet-name>
        <url-pattern>/main/MemberLiveSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.main.AfmLiveSearch</servlet-name>
        <servlet-class>controllers.main.AfmLiveSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.main.AfmLiveSearch</servlet-name>
        <url-pattern>/main/AfmLiveSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.ChangePassword</servlet-name>
        <servlet-class>controllers.settings.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.ChangePassword</servlet-name>
        <url-pattern>/settings/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.SetDepartmentPassword</servlet-name>
        <servlet-class>controllers.settings.SetDepartmentPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.SetDepartmentPassword</servlet-name>
        <url-pattern>/settings/SetDepartmentPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.EditMunicipalities</servlet-name>
        <servlet-class>controllers.settings.EditMunicipalities</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.EditMunicipalities</servlet-name>
        <url-pattern>/settings/EditMunicipalities</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.EditZipcodes</servlet-name>
        <servlet-class>controllers.settings.EditZipcodes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.EditZipcodes</servlet-name>
        <url-pattern>/settings/EditZipcodes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.EditJobs</servlet-name>
        <servlet-class>controllers.settings.EditJobs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.EditJobs</servlet-name>
        <url-pattern>/settings/EditJobs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.EditDoys</servlet-name>
        <servlet-class>controllers.settings.EditDoys</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.EditDoys</servlet-name>
        <url-pattern>/settings/EditDoys</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.DeleteMunicipality</servlet-name>
        <servlet-class>controllers.settings.DeleteMunicipality</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.DeleteMunicipality</servlet-name>
        <url-pattern>/settings/DeleteMunicipality</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.DeleteZipcode</servlet-name>
        <servlet-class>controllers.settings.DeleteZipcode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.DeleteZipcode</servlet-name>
        <url-pattern>/settings/DeleteZipcode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.DeleteJob</servlet-name>
        <servlet-class>controllers.settings.DeleteJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.DeleteJob</servlet-name>
        <url-pattern>/settings/DeleteJob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.settings.DeleteDoy</servlet-name>
        <servlet-class>controllers.settings.DeleteDoy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.settings.DeleteDoy</servlet-name>
        <url-pattern>/settings/DeleteDoy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controllers.log.ViewLog</servlet-name>
        <servlet-class>controllers.log.ViewLog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllers.log.ViewLog</servlet-name>
        <url-pattern>/log/ViewLog</url-pattern>
    </servlet-mapping>
</web-app>
